<div class="info">
  <div class="tile">
    <img src="/static/assets/farming.jpg" alt="Farming" />

    <div class="sub">
      <div class="title">Farming</div>

      <p>
        Farmers are the one who provide us all the food we eat, they are the
        backbone of our society. Even though farmers have so much importance
        they don't have proper living. The condition of farmers in India is
        critical. The problem is they are not getting enough pay. And some times
        due to some bad weather conditions they get nothing in hand, because of
        this sometimes situation gets so worse that they are not even having
        proper food. So, we developed a application to help them from our side.
      </p>
    </div>
  </div>
  <div class="tile rev-sub" style="background-color: #5aaa95">
    <img src="/static/assets/plants.jpg" alt="Plants" />

    <div class="sub">
      <div class="title">Crops</div>

      <p>
        Indian agriculture is dominated by food crops, even though we can make
        profit from it, sometimes results are not as same as before, Crop
        growths depends not only on rainfall, but also on other climatic factors
        and non-climatic factors such as availability of suitable soil and also
        some areas may not be suitable for certain crops due to high
        temperatures, so it so difficult to examine, so we developed a
        application which predits profit based on size of field and area and
        name of crop.
      </p>
    </div>
  </div>

  <div class="tile rev-sub" style="background-color: #ff5964">
    <div class="sub col">
      <div
        class="title main-title"
        style="font-family: 'Abril Fatface', cursive; font-size: 4rem"
      >
        Agriculture in India
      </div>

      <p class="main-p">
        Agriculture plays a vital role in the Indian economy. Over 70 per cent
        of the rural households depend on agriculture. Agriculture is an
        important sector of Indian economy as it contributes about 17% to the
        total GDP and provides employment to over 60% of the population. The
        Indian food industry is poised for huge growth, increasing its
        contribution to world food trade every year due to its immense potential
        for value addition, particularly within the food processing industry.
        Indian food and grocery market is the world’s sixth largest, with retail
        contributing 70% of the sales. During 2019-20 crop year, food grain
        production reached a record of 296.65 million tonnes. In 2020-21,
        Government of India is targeting food grain production of 298 million
        tonnes.India is expected to achieve the ambitious goal of doubling farm
        income by 2022. The agriculture sector in India is expected to generate
        better momentum in the next few years due to increased investment in
        agricultural infrastructure such as irrigation facilities, warehousing
        and cold storage.
      </p>
      <a href="#home" class="predict">Predict</a>
    </div>
  </div>
</div>
