<div class="info">
  <div class="tile">
    <img src="/static/assets/farming.jpg" alt="Farming" />

    <div class="sub">
      <div class="title">Farming</div>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
        repellendus sapiente accusamus repudiandae ipsa, corrupti possimus hic
        labore et aspernatur tempora adipisci? Dolores porro eius maiores ab
        corporis consectetur, culpa suscipit voluptatum error debitis, nihil
        sequi! Voluptatibus cum iure officiis ipsum fugit veritatis, nihil
        eveniet perferendis accusamus suscipit? Quasi, quisquam!
      </p>
    </div>
  </div>
  <div class="tile rev-sub" style="background-color: #5aaa95">
    <img src="/static/assets/plants.jpg" alt="Plants" />

    <div class="sub">
      <div class="title">Crops</div>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
        repellendus sapiente accusamus repudiandae ipsa, corrupti possimus hic
        labore et aspernatur tempora adipisci? Dolores porro eius maiores ab
        corporis consectetur, culpa suscipit voluptatum error debitis, nihil
        sequi! Voluptatibus cum iure officiis ipsum fugit veritatis, nihil
        eveniet perferendis accusamus suscipit? Quasi, quisquam!
      </p>
    </div>
  </div>

  <div class="tile rev-sub" style="background-color: #ff5964">
    <div class="sub col">
      <div
        class="title main-title"
        style="font-family: 'Abril Fatface', cursive; font-size: 4rem"
      >
        Agriculture in India
      </div>

      <p class="main-p">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
        repellendus sapiente accusamus repudiandae ipsa, corrupti possimus hic
        labore et aspernatur tempora adipisci? Dolores porro eius maiores ab
        corporis consectetur, culpa suscipit voluptatum error debitis, nihil
        sequi! Voluptatibus cum iure officiis ipsum fugit veritatis, nihil
        eveniet perferendis accusamus suscipit? Quasi, quisquam!
      </p>
      <a href="#home" class="predict">Predict</a>
    </div>
  </div>
</div>
