<div class="about">
  <div class="title">About</div>
  <div class="team">
    <div class="member">
      <div class="image"></div>
      <!-- <img class="image" src="assets/ronin.jpeg" /> -->
      <h2 class="name">Jyothsna</h2>
      <span class="role">ML Expert (Team Lead)</span>
    </div>
    <div class="member">
      <img class="image" src="/static/assets/ronin.jpeg" />
      <h2 class="name">Ravi Prakash</h2>
      <span class="role">UI Designer</span>
    </div>
    <div class="member">
      <img class="image" src="/static/assets/ravi.jpg" />
      <h2 class="name">Ravi Teja</h2>
      <span class="role">Backend Designer</span>
    </div>
    <div class="member">
      <div class="image"></div>
      <!-- <img class="image" src="assets/ronin.jpeg" /> -->
      <h2 class="name">Gnana Jeevana</h2>
      <span class="role">Content Creator</span>
    </div>
  </div>
</div>
